/*style sheet for superblog*/


h1.dream {
	font-weight: normal;
	font-family: cursive;
	font-size: 42px;
	text-transform: lowercase;
	color: #CEBB99;
}
h1.beans {
	font-weight: normal;
	font-family: arial, sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	color: white;
	background-color: saddlebrown;
}
ul.menu { 
	text-transform: lowercase;
}

	li.menu {display: inline;
	font-weight: normal;
	font-family: times, serif;
	font-color: #CEBB99;
	text-decoration: none;
background-color: saddlebrown;}
h2 {
	font-weight: bold;
	font-family: arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: saddlebrown;
}
p {
	font-weight: normal;
	font-family: times, serif;
	font-size: 14px;
	
}
p.footer {
	font-weight: normal;
	font-family: times, serif;
	font-size: 12px;
	color: #CEBB99;
	background-color: saddlebrown;
	
}
p.copy {
	font-weight: normal;
	font-family: times, serif;
	font-size: 12px;
	color: #CEBB99;
	background-color: saddlebrown;
	
}
a {
	font-weight: bold;
	font-family: arial, sans-serif;
	font-color: black;
	text-decoration: none;
	font-size: 14px;
	
}

a:link {color:#000;}    /* unvisited link */
a:visited {color:#000;} /* visited link */
a:hover {color:#000;}   /* mouse over link */
a:active {color:#000;}  /* selected link */
